@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "intro.css";
@import "reset.css";

/* 본문 css 시작 */

#wrap{
  // height: 100vh;
  width: 100%;
  overflow: hidden;
  header{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-content: center;
    // justify-content: center;
    //gap: 100px;
    // height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #fff;
    .header{
      display: block;
      // padding-left: 20px;
      .header_inner{
        width: 1200px;
        margin: 0 auto;
        height: 60px;
        // float: left;
        h1{
          float: left;
          a{
            width: 150px;
            padding-top: 8px;
          }
        }
        .pc-nav{
          width: 1050px;
          height: 60px;
          overflow: hidden;
          ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 100px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &::after{
        content: '';
        display: block;
        clear: both;
        }
      }
  }
  }
  #visual{
    width: 2000px;
    height: 1080px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  #content{
    width: 1200px;
    margin:  30px auto 0;
    section{
      &.brand{
        h3{}
        div{
          &.brand_content{
            p{

            }
          }
        }
        ul{
          &.brand_img{
          display: flex;
          align-items: center;
          flex-direction: row;
            li{
              img{
                // width: 320px;
              }
            }
          }
        }
      }
      &.show{}
      &.maga{}
      &.store{}
    }
  }
}


