@use './common.scss';

#About{
  background: url(../etc/about_back_02.png) 105% 50% no-repeat;
  background-size: contain;
  
  // background: linear-gradient(to right, #AC5AA3, #9364B1, #766DB9);
  // background-size: 200% 100%; 
  // animation: gradientAnimation 4s linear infinite;
  // @keyframes gradientAnimation {
  //   0% {
  //     background-position: 0% 0%;
  //   }
  //   100% {
  //     background-position: 100% 0%;
  //   }
  // }
  h3{}
  div.profile{
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 25px;
    grid-column-gap: 30px;
    align-items: center;
  
    &.profile-left{
     
      // flex-direction: column;
      align-items: center;
      // &::after{
      //   content: '';
      //   display: block;
      //   background: url(../etc/iphone.png) 50% 50% no-repeat;
      //   background-size: contain;
      //   width: 100%;
      //   height: 980px;
      //   position: absolute;
      //   left: 50%;
      //   top: 50%;
      //   transform: translate(-50%,-50%);
      // }
      // &::before{
      //   content: '';
      //   display: block;
      //   width: 380px;
      //   height: 500px;
      //   background: #fff;
      //   position: absolute;
      //   left: 50%;
      //   top: 50%;
      //   transform: translate(-50%,-50%);
      // }
    }
    div.imgContent{
      // 크기 확인용
      // border:  1px solid red;
      grid-column: 1;
      grid-row: 1;
      text-align: center;
      img{
        &.profileImg1{
          width: 376px;
          height: 500px;
          border-radius: 100px;
          background: #fff;
          box-shadow: 5px 5px 20px #888888;
        }
        &.profileImg2{
          width: 100%;
          height: 800px;
          border-radius: 40% 30% 40% 30% / 45% 70% 45% 70%;
        }
      }
    }
    div.textContent{
      grid-column: 2;
      grid-row: 1;
      padding-left: 30px;
      width: 800px;
      div.detailProfile{
        color: #fff;
        div.name{
          position: relative;
          display: inline-block;
          font-size: 2.5em;
          font-weight: 500;
          // color: #333;
          margin-bottom: 20px;
          &::before{
            content: '정호석';
            display: block;
            font-size: 1.3rem;
            position: absolute;
            right: -20%;
            top: -10%;
            transform: translate(20%,10%);
          }
          &:hover{
            color: #1068c2;
            transition: color .5s ease-in-out;  
          } 
        }
        dl{
          margin-bottom: 20px;
          border-top: 1px dashed #ccc;
          dt{
            font-weight: 500;
            font-size: 1.5rem;
            padding: 10px 0;
            display: inline-block;
            transition: color .5s ease-in-out;
            &:hover{  
              color: red;
            }
            svg{
              height: 24px;
              width: 24px;
              margin-right: 10px;
            }
          }
          dd{
            font-size: 1.1rem;
          }
          &:nth-of-type(3){
            dt{}
            dd{
              ul{
                &.skills{
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  // margin: 1.2rem 0;
                }
                li{
                  // display: flex;
                  // justify-content: center;
                  transition: color .3s;
                  &:nth-of-type(1):hover{
                    color: #ff6633;
                  }
                  &:nth-of-type(2):hover{
                    color: #0099cc;
                  }
                  &:nth-of-type(3):hover{
                    color: #ffcc33;
                  }
                  &:nth-of-type(4):hover{
                    color: #006699;
                  }
                  &:nth-of-type(5):hover{
                    color: #663399;
                  }
                  &:nth-of-type(6):hover{
                    color: white;
                  }
                  &:nth-of-type(7):hover{
                    color: #00ccff;
                  }
                  &:nth-of-type(8):hover{
                    color: #cc6699;
                  }
                  &:nth-of-type(9):hover{
                    color: #ccffff;
                  }
                  &:nth-of-type(10):hover{
                    color: white;
                  }
                  // &:hover{
                  //   color: #1068c2;
                  // }
                  svg{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        } 
        ul.popol{
          border-top: 1px dashed #ccc;
          padding-top: 5%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 30px;
          li{
            width: 200px;
            // margin: 30px 30px 0 0;
            a{
              font-size: 1.2em;
              border: 3px dashed #fcfcfc;
              text-align: center;
              // font-size: 1em;
              padding: 10px;
              line-height: 2rem;
              font-weight: 500;
              color: #999;
              transition: all .8s ease-in-out;
              display: flex;
              // flex-wrap: nowrap;
              align-items: center;
              justify-content: center;
              gap: 20px;
              &:hover{
                background: #333;
                backdrop-filter: .8; 
                border-radius: 40px;
                color: #fff;
              }
            }
          }
        }
      }
      .introShort{
        margin: 10px 0;
        text-align: center;
      }
    }
    button{
      width: 50px;
      height: 50px;
      grid-column: span 2; 
      grid-row: 2;
      cursor: pointer;
      span{
        display: inline-block;
        width: 100%;
        height: 100%;
        &.preClick{
          background: url(../etc/nextarrow.png) 50% 50% no-repeat;
          background-size: contain;
        }
        &.nextClick{
          background: url(../etc/backarrow.png) 50% 50% no-repeat;
          background-size: contain;
        }
      }
    }
  }
}