header{
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  transition: all 0.5s;
  &.active{
    background-color: #f9f8fd;
    border-bottom: 1px solid #efefef;
  }
  .headerArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    h1{
      color: #5470D2;
      font-size: var(--nav-font-size);
    }
    nav{
      ul{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        font-size: var(--nav-font-size);
        li{
          // color: blue;
          cursor: pointer;
          a{
            color: #999;
            &.tab{
              color:#5470D2;
              &::after{
                content: '';
                display: inline-block;
                width: 100%;
                height: 3px;
                background: #6A3D00;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}