// 통합 리셋 css 사용
@use'./common.scss';

#section1{
  //css 확인차 백그라운드 임시 적용
  background-color: #999;
  div{
    &.home{
      p{
        font-size: 3.5em;
        letter-spacing: 2px;
        color: #f8f8f8;
        text-align: center;
        strong{
          background: linear-gradient(to bottom, transparent 50%, #4867e8d9 50%) 0 -7px;
        }
      }
    }
  }
  a{
    &.scrollDown{
      position:absolute; 
      left: 50%; 
      bottom: 70px; 
      font-size:20px; 
	    transform: translateX(-50%);
      font-style:italic; 
      color:#fff; 
      z-index: 3;
      .downIcon{
        display:inline-block; 
        // padding:0px 10px; 
        animation:scrollDown infinite .7s linear;
      } 
    }
  }
}

// keyframe animation 설정 코드
@mixin animation ($delay, $duration, $timing-function, $name) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-timing-function: $timing-function;
  animation-iteration-count: infinite;
}

@mixin keyframe ($scrollDown)  {
  @keyframes #{$scrollDown} {
    @content;
  }
}
@include keyframe (scrollDown) {
  0% { 
    transform: translateY(0); 
    opacity: 1; 
  }
  100% { 
    transform: translateY(10px); 
    opacity: 0; 
  }
}