@use './common.scss';

#Portfolio{
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  &.pf-content1{
    background: url(../etc/pcback.png) 50% 50% no-repeat;
    background-size: cover;
  }
  &.pf-content2{
    background: url(../etc/mobileback.png) 50% 50% no-repeat;
    background-size: cover;
    .content-inner{
      .port-img{
        text-align: center;
        img{height: auto; width: 200px;}
      }
    }
  }
  &.pf-content3{
    background: url(../etc/mediaback.png) 50% 50% no-repeat;
    background-size: cover;
    .content-inner{
      .info-area{
        .colors{
          dd{
            &.color1{
              background: #95d5f5;
              border: 1px solid #95d5f5;
            }
            &.color2{
              background: #000;
              border: 1px solid #000;
            }
            &.color3{   
              background: #fff;
              border: 1px solid #ececec;
            }
          }
        }
        .url-box{
          a{
            &.more{
              color: #95d5f5;
              border: 1px solid #95d5f5;
              transition: all .5s;
              &:hover{
                color: #fff;
                background-color: #95d5f5;
              }
            }
          }
        }
      }
    }
  }
  &.pf-content4{
    background: url(../etc/bootback.png) 50% 50% no-repeat;
    background-size: cover;
    .content-inner{
      .info-area{
        .colors{
          dd{
            &.color1{
              background: #fff;
              border: 1px solid #ececec;
            }
            &.color2{
              background: #337ab7;
              border: 1px solid #337ab7;
            }
            &.color3{display: none;}
          }
        }
      }
    }
  }
  &.pf-content5{
    background: url(../etc/wordback.png) 50% 50% no-repeat;
    background-size: cover;
    .content-inner{
      .info-area{
        .colors{
          dd{
            &.color1{
              background: #cc0033;
              border: 1px solid #cc0033;
            }
            &.color3{
              background: #666666;
              border: 1px solid #666666;
            }
          }
        }
        .url-box{
          a{
            &.more{
              color: #cc0033;
              border: 1px solid #cc0033;
              transition: all .5s;
              &:hover{
                color: #fff;
                background-color: #cc0033;
              }
            }
          }
        }
      }
    }
  }
  .tab-area{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    .tab-menu{
      display: flex;
      gap: 150px;
      width: 1200px;
      align-items: center;
      justify-content: center;
      li{ 
        height: 50px;
        &:hover{color: #1979bd;}
        button{
          height: 100%;
          cursor: pointer;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Noto Sans KR', sans-serif;
        }
      }
    }
  }

  //PortFolioUse css
  .content-inner{
    display: grid;
    grid-template-columns: 650px 700px;
    grid-column-gap: 100px;
    align-items: center;
    .port-img{
      text-align: center;
      img{
        width: 450px;
      }
    }
    .info-area{

      dl{
        margin-bottom:15px;
        &.detail-info{
          dt{
            margin-bottom: 5px;
            &.info-title{
              font-size: 3rem;
              font-weight: 700;
              font-style: italic;
            }
            span{
              font-size: 1.1rem; 
              font-weight: 400;
              background: linear-gradient(to bottom, transparent 50%, #4867e8d9 50%) 0 -7px;
            }
          }
          dd{
            padding: 5px 0;
            font-size: 1.1rem;
          }
        }
        &.term{
          dt{
            font-size: 1.3em;
            font-weight: 700;
          }
          dd{
            padding: 5px 0;
          }
        }
        &.colors{
          dt{
            font-size: 1.3em;
            font-weight: 700;
          }
          dd{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin: 5px 15px 0 0;
            display: inline-block;
            &.color1{
              background: #03509f;
              border: 1px solid #03509f;
            }
            &.color2{    
              background: #fff;
              border: 1px solid #ececec;
            }
            &.color3{
              background: #333;
              border: 1px solid #333;
            }
          }
        }
        &.use-skill{
        
          dt{
            font-size: 1.3em;
            font-weight: 700;
          }
          dd{
            padding: 10px 0;
            .skill-img{
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              gap: 10px;
              li{
                width: 45px;
                height: 45px;
                text-align: center;
                img{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
      .url-box{
        display: inline-block;
        a{
          &.more{
            display: inline-block;
            font-weight: 700;
            font-size: 1em;
            padding: 10px 35px;
            background: #fff;
            border-radius: 100px;
            border: 1px solid #1979bd;
            color: #1979bd;
            transition: all .5s;
            &:hover{
              color: #fff;
              background-color: #1979bd;
            }
          }
        }
      }
    }
  }
}